<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/js/informations.js"></script>
</head>
<body>
    <%- include("header") %>
    <br />
    <% if (result != "") { %>
        <h2 class="title is-2" style="text-align:center;"><%- result[0].prenom %> <%- result[0].nom %></h2>
        <div class="buttons">
            <button class="button is-info" id="buttonOrdonnance">+ ajouter une ordonnance</button>
        </div>

        <div class="columns is-fluid">
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <p>Sexe</p>
                    </div>
                    <div class="message-body">
                        <%- result[0].sexe %>
                    </div>
                </article>
            </div>

            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <p>Date de Naissance</p>
                    </div>
                    <div class="message-body">
                        <%- result[0].dateDeNaissance %>
                    </div>
                </article>
            </div>
            
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <p>Téléphone</p>
                    </div>
                    <div class="message-body">
                        <%- result[0].telephone %>
                    </div>
                </article>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <p>Adresse</p>
                    </div>
                    <div class="message-body">
                        <%- result[0].adresse %>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <p>E-Mail</p>
                    </div>
                    <div class="message-body">
                        <%- result[0].email %>
                    </div>
                </article>
            </div>
            
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        <p>Numéro de Sécurité Sociale</p>
                    </div>
                    <div class="message-body">
                        <%- result[0].numSecuSocial %>
                    </div>
                </article>
            </div>
        </div>
        
        <% if (result[0].prenomMedecin) { %>
            <div class="content">
                <h2  class="title is-2">Ordonnance</h2>
                <ul>
                    <% for (let i = 0; i < result.length; i++) { %>
                        <li><a href="/views/informations.ejs/ordonnance/<%= result[i].id %>">Ordonnance <%- i+1 %></a></li>
                        <button class="button is-link is-light"><a href="/views/informations.ejs/ajoutTraitement/<%= result[i].id %>"><i class="fas fa-plus"></i></a></button>
                        <button class="button is-link is-light"><a href="/views/informations.ejs/supprimerTraitement/<%= result[i].id %>"><i class="fas fa-trash"></i></a></button>
                        <button class="button is-link is-light"><a href="/views/informations.ejs/modifierTraitement/<%= result[i].id %>"><i class="fas fa-pen"></i></a></button>
                    <% } %>
                </ul>
            </div>
        <% } %>
    <% } else { %>
        <%- include("erreur") %>
    <% } %>


    <script type="text/javascript">
        let buttonOrdonnance = document.getElementById("buttonOrdonnance")
        let buttonTraitement = document.getElementById("buttonTraitement")

        boutonOrdonnance(buttonOrdonnance)
        boutonTraitement(buttonTraitement)
    </script>
</body>
</html>