<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/composants.css">
    <link rel="stylesheet" href="/css/liste.css">
</head>
<body>
    <%- include("header") %>

    <div class="menu">
        <p><a href="/views/nouveau.ejs">Nouveau</a></p>
        <br /><br />
        <p><a href="/views/stock.ejs">Stock</a></p>
    </div>

    <div class="container">
        <table>
            <tr>
                <td class="header">Nom :</td>
                <td class="header">Prénom :</td>
                <td class="header">Téléphone :</td>
            </tr>
        </table>
        <br /><br /> 
        <% for (let i = 0; i < result.length; i++) { %>
            <table>
                <tr>
                    <td><a href="/views/informations.ejs/<%= result[i].id %>"><%- result[i].nom %></a></td>
                    <td><a href="/views/informations.ejs/<%= result[i].id %>"><%- result[i].prenom %></a></td>
                    <td><a href="/views/informations.ejs/<%= result[i].id %>"><%- result[i].telephone %></a></td>
                </tr>
            </table>
        <% } %>
    </div>
</body>
</html>