<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <%- include("header") %>
    <% if (result == "") { %>
    <h2 class="title is-2" style="text-align:center;">Ajouter un nouveau traitement</h2>
        <div class="container">
            <form id="form" method="post">
                <div class="field">
                    <label class="label">Médicament</label>
                    <div class="control">
                        <input class="input" type="text" name="medicament" placeholder="Médicament" autocomplete="off">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Dosage (en mg)</label>
                    <div class="control">
                        <input class="input" type="number" name="dosage" placeholder="Dosage (en mg)" autocomplete="off">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Durée (en mois)</label>
                    <div class="control">
                        <input class="input" type="number" name="duree" placeholder="Durée (en mois)" autocomplete="off">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Quantité (en boîtes)</label>
                    <div class="control">
                        <input class="input" type="number" name="quantite" placeholder="Quantité (en boîtes)" autocomplete="off">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Renouvellement</label>
                    <div class="control">
                        <input class="input" type="number" name="renouvellement" placeholder="Renouvellement" autocomplete="off">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
        <% } else { %>
            <h2 class="title is-2" style="text-align:center;">Modifier traitement</h2>
            <% for (let i = 0; i < result.length; i++) { %>
            <h3 class="title is-3" style="text-align:center;">Traitement n°<%- i+1 %></h3>
            <div class="container">
                <form id="<%- result[i].id %>" method="post">
                    <div class="field">
                        <label class="label">Médicament</label>
                        <div class="control">
                            <input class="input" type="text" name="medicament" placeholder="Médicament" autocomplete="off" value="<%- result[i].medicament %>">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Dosage (en mg)</label>
                        <div class="control">
                            <input class="input" type="number" name="dosage" placeholder="Dosage (en mg)" autocomplete="off" value="<%- result[i].dosage %>">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Durée (en mois)</label>
                        <div class="control">
                            <input class="input" type="number" name="duree" placeholder="Durée (en mois)" autocomplete="off" value="<%- result[i].duree %>">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Quantité (en boîtes)</label>
                        <div class="control">
                            <input class="input" type="number" name="quantite" placeholder="Quantité (en boîtes)" autocomplete="off" value="<%- result[i].quantite %>">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Renouvellement</label>
                        <div class="control">
                            <input class="input" type="number" name="renouvellement" placeholder="Renouvellement" autocomplete="off" value="<%- result[i].renouvellement %>">
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <% } %>
        <% } %>
        <script>
            let form = document.getElementById('form')
            if (form) form.setAttribute('action',document.location.href)

            let forms = document.querySelectorAll('form')
            for (let i = 0; i < forms.length; i++) {
                console.log(forms)
                forms[i].setAttribute('action',document.location.href+"/"+forms[i].id)
            }
        </script>
</body>

</html>