<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <%- include("header") %> <% if (result == "") { %>
    <!--------------------- AJOUT TRAITEMENT --------------------->
    <h2 class="title is-2" style="text-align: center">
      Ajouter un nouveau traitement
    </h2>
    <div class="container">
      <form id="ajoutTraitement" method="post">
        <div class="field">
          <label class="label">Médicament</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="medicament"
              placeholder="Médicament"
              autocomplete="off"
              required="true"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Dosage (en mg)</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="dosage"
              placeholder="Dosage (en mg)"
              autocomplete="off"
              required="true"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Durée (en mois)</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="duree"
              placeholder="Durée (en mois)"
              autocomplete="off"
              required="true"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Quantité (en boîtes)</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="quantite"
              placeholder="Quantité (en boîtes)"
              autocomplete="off"
              required="true"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Renouvellement</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="renouvellement"
              placeholder="Renouvellement"
              autocomplete="off"
              required="true"
            />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Envoyer</button>
          </div>
        </div>
      </form>
    </div>
    <% } else { %>
    <!--------------------- MODIFIER ORDONNANCE --------------------->
    <h2 class="title is-2" style="text-align: center">Modifier l'ordonnance</h2>
    <div class="container">
      <form id="modifierOrdonnance" method="POST">
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input
              class="input"
              type="date"
              name="date"
              autocomplete="off"
              value="<%- result[0].date %>"
              required="true"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Nom du Medecin</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="nomMedecin"
              placeholder="Nom du Medecin"
              autocomplete="off"
              value="<%- result[0].nomMedecin %>"
              required="true"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Prénom du Medecin</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="prenomMedecin"
              placeholder="Prénom du Medecin"
              autocomplete="off"
              value="<%- result[0].prenomMedecin %>"
              required="true"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Maladie</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="maladie"
              placeholder="Maladie"
              autocomplete="off"
              value="<%- result[0].maladie %>"
              required="true"
            />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Envoyer</button>
          </div>
        </div>
      </form>
    </div>
    <!--------------------- MODIFIER TRAITEMENT --------------------->
    <% for (let i = 0; i < result.length; i++) { %>
    <h2 class="title is-2" style="text-align: center">
      Modifier les traitements
    </h2>
    <h3 class="title is-3" style="text-align: center">
      Traitement n°<%- i+1 %>
    </h3>
    <div class="container">
      <form class="modifierTraitement" id="<%- result[i].id %>" method="post">
        <div class="field">
          <label class="label">Médicament</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="medicament"
              placeholder="Médicament"
              autocomplete="off"
              value="<%- result[i].medicament %>"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Dosage (en mg)</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="dosage"
              placeholder="Dosage (en mg)"
              autocomplete="off"
              value="<%- result[i].dosage %>"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Durée (en mois)</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="duree"
              placeholder="Durée (en mois)"
              autocomplete="off"
              value="<%- result[i].duree %>"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Quantité (en boîtes)</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="quantite"
              placeholder="Quantité (en boîtes)"
              autocomplete="off"
              value="<%- result[i].quantite %>"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Renouvellement</label>
          <div class="control">
            <input
              class="input"
              type="number"
              name="renouvellement"
              placeholder="Renouvellement"
              autocomplete="off"
              value="<%- result[i].renouvellement %>"
            />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Envoyer</button>
            <p class="button is-danger"><a id="supprimerTraitement-<%- result[i].id %>">Supprimer</a></p>
          </div>
        </div>
      </form>
    </div>
    <% } %> <% } %>
    <script>
      let form = document.getElementById('ajoutTraitement')
      if (form) form.setAttribute('action',document.location.href.replace('modifierOrdonnance','ajoutTraitement'))

      let forms = document.querySelectorAll('.modifierTraitement')
      for (let i = 0; i < forms.length; i++) {
          forms[i].setAttribute('action',document.location.href.replace('modifierOrdonnance','modifierTraitement')+"/"+forms[i].id)
      }

      let modifierOrdonnance = document.getElementById('modifierOrdonnance')
      modifierOrdonnance.setAttribute("action",document.location.href)

      let supprimerTraitement = document.querySelectorAll('.is-danger > a')
      for (let i = 0; i < supprimerTraitement.length; i++) {
          let id = supprimerTraitement[i].id.split('-')[1]
          supprimerTraitement[i].setAttribute("href",document.location.href.replace('modifierOrdonnance','supprimerTraitement')+"/"+id)
      }
    </script>
  </body>
</html>
